@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
}

.bg-gradient-opacity {
  background: linear-gradient(
    109deg,
    rgba(201, 201, 201, 0.4) 1.57%,
    rgba(196, 196, 196, 0.05) 100%
  );
}

/* phone number input */

.react-tel-input {
  background: linear-gradient(
    109deg,
    rgba(201, 201, 201, 0.4) 1.57%,
    rgba(196, 196, 196, 0.05) 100%
  ) !important;
  border-radius: 8px;
  margin-top: 8px;
}

.react-tel-input .form-control {
  background-color: transparent !important;
  border: 1px solid rgba(255, 255, 255, 0.7) !important;
  border-radius: 8px !important;
}
.react-tel-input .flag-dropdown {
  background: none !important;
  border: none !important;
  border-right: 1px solid rgba(255, 255, 255, 0.7) !important;
}
.react-tel-input .flag-dropdown.open .selected-flag {
  background: none !important;
}
.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
  background: none !important;
}
.react-tel-input .country-list {
  border-radius: 12px !important;
  max-height: 280px !important;
  background-color: #000911 !important;
}
.react-tel-input .country-list .search {
  background-color: #000911 !important;
  border-bottom: 1px solid #334759 !important;
}

.react-tel-input .country-list .country {
  color: #9b9b9b;
  padding: 8px 16px !important;
  border-bottom: 1px solid #334759;
}
.react-tel-input .country-list .country .dial-code {
  color: #9b9b9b !important;
}
.react-tel-input .country-list .country.highlight,
.react-tel-input .country-list .country:hover {
  background-color: #dcdcdc !important;
  color: #6b6b6b !important;
  border-bottom: 1px solid #f5f5f5;
}
.react-tel-input .country-list .country.highlight .dial-code,
.react-tel-input .country-list .country:hover .dial-code {
  color: #6b6b6b !important;
}
.react-tel-input .selected-flag .arrow.up {
  border-bottom: 4px solid #fff !important;
}

.react-tel-input .country-list .search::after {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("/assets/search-normal.svg");
  top: 10px;
  display: flex;
  position: absolute;
}

.react-tel-input .country-list .search-box {
  margin-left: 30px !important;
  background-color: transparent !important;
  border: none !important;
}

/* custom checkbox */

.checkbox-container {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  left: 0;
  height: 25px;
  width: 25px;
  border: 2px solid #ffffff;
  border-radius: 8px;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* verification inputs */

.vi__character {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #fff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

:where(.vi__character) {
  flex-grow: 0 !important;
  flex-basis: auto !important;
  width: 80px !important;
}
